<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Article Title</h1>
        <p><%=row.title%></p>

        <h3>Article Subtitle</h3>
        <p><%=row.subtitle%></p>

        <h5>Article Body</h5>
        <p><%=row.contents%></p>

        <h6>Likes Count</h6>
        <p><%=row.likes_count%></p>

        <div>
            <% commentsRows.forEach(comment => {%>
            <p><%=comment.comment_text%></p>
            <%})%>
        </div>

        <% if (req.user) {%>
        <form action="/article/" method="post">
            <input hidden type="text" name="id" value="<%=row.article_id%>" />
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Add a Comment" />
        </form>
        <form action="/article/interact" method="post">
            <input hidden type="text" name="articleID" value="<%=row.article_id%>" />
            <input
                hidden
                type="text"
                name="likesCount"
                value="<%=row.likes_count%>"
            />
            <input type="submit" value="Like" />
        </form>
        <%} else {%>
        <h3>
            <a href="/login">Sign in</a> to add a comment or to interact with the
            article!
        </h3>

        <%}%>
    </body>
</html>
