<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/dashboard.css" type="text/css" />
        <title>Document</title>
    </head>
    <body>
        <div class="blog_details">
            <h1><%=rows2[0].author_name%></h1>
            <h2><%=rows2[0].author_email%></h2>
            <h2><%=rows2[0].author_name%></h2>
        </div>
        <h1>Drafts</h1>
        <% rows.forEach(article => { if (article.publish_state === "Draft") { %>
        <div class="draft_container">
            apft
            <p><%=article.title%></p>
            <p><%=article.created_at_date%></p>
            <form
                action="/author/dashboard/articles/article/<%=article.article_id%>?_method=PUT"
                method="post"
            >
                <input type="hidden" name="_method" value="PUT" />
                <input type="submit" value="Publish" />
            </form>
            <form
                action="/author/dashboard/articles/article/edit-article/<%=article.article_id%>"
            >
                <input type="submit" value="Edit" />
            </form>
            <form
                method="post"
                action="/author/dashboard/articles/article/<%=article.article_id%>?_method=DELETE"
            >
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete" />
            </form>
        </div>
        <%}})%>

        <form action="/author/dashboard/articles/create-article" id="create_article">
            <input type="submit" value="Create New Draft" />
        </form>

        <h1>Published Articles</h1>
        <div class="published_articles_container">
            <% rows.forEach(article => { if (article.publish_state !== "Draft") { %>
            <p><%=article.title%></p>
            <p><%=article.publish_date%></p>
            <form
                action="/author/dashboard/articles/article/edit-article/<%=article.article_id%>"
            >
                <input type="submit" value="Edit" />
            </form>
            <form
                method="post"
                action="/author/dashboard/articles/article/<%=article.article_id%>?_method=DELETE"
            >
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete" />
            </form>
        </div>
        <%}}) %>
    </body>
</html>
