<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/dashboard.css" type="text/css" />
        <title>Author Dashboard</title>
    </head>
    <body>
        <div class="blog_details">
            <h1><%=settingsRow[0].blog_title%></h1>
            <h2><%=settingsRow[0].blog_subtitle%></h2>
            <h2><%=settingsRow[0].author_name%></h2>
        </div>
        <h1>Author Dashboard</h1>
        <h4><a href="/dashboard/settings/">Edit Blog Settings</a></h4>
        <h4><a href="/dashboard/logout/">Log out</a></h4>
        <h2>Drafts</h2>
        <% if(messages.success) {%>
        <p><%=messages.success%></p>
        <% } %> <% rows.forEach(article => { if (article.publish_state === "Draft") {
        %>
        <div class="draft_container">
            <p>Article Title: <%=article.title%></p>
            <p>Date Created: <%=article.created_at_date%></p>
            <p>Date Modified: <%=article.modified_at_date%></p>
            <form
                action="/dashboard/article/<%=article.article_id%>?_method=PUT"
                method="post"
            >
                <input type="hidden" name="_method" value="PUT" />
                <input type="submit" value="Publish" />
            </form>
            <form action="/dashboard/article/edit-article/<%=article.article_id%>">
                <input type="submit" value="Edit" />
            </form>
            <form
                method="post"
                action="/dashboard/article/<%=article.article_id%>?_method=DELETE"
            >
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete" />
            </form>
        </div>
        <%}})%>

        <form action="/dashboard/article/create-article" id="create_article">
            <input type="submit" value="Create New Draft" />
        </form>

        <h2>Published Articles</h2>
        <div class="published_articles_container">
            <% rows.forEach(article => { if (article.publish_state !== "Draft") { %>
            <p>Article Title: <%=article.title%></p>
            <p>Date Created: <%=article.created_at_date%></p>
            <p>Date Published: <%=article.publish_date%></p>
            <p>Date Modified: <%=article.modified_at_date%></p>

            <form action="/dashboard/article/edit-article/<%=article.article_id%>">
                <input type="submit" value="Edit" />
            </form>
            <form
                method="post"
                action="/dashboard/article/<%=article.article_id%>?_method=DELETE"
            >
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete" />
            </form>
        </div>
        <%}}) %>
    </body>
</html>
