<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
        <title><%=settingsRow[0].blog_title%> | Change Password</title>
    </head>
    <body>
        <%-include('partials/navbar') %>

        <div class="container w-4/12 mx-auto mt-10">
            <h1 class="text-4xl my-10 w-6/12">Change Password</h1>
            <!--Express Validator Messages-->
            <% if (messages.failure_msgs) { %> <%messages.failure_msgs[0].errors.forEach(msg => {%>
            <p class="text-red-800"><%=msg.msg%></p>
            <% }) %> <% } %>
            <!--Express Flash Messages-->
            <% if (messages.failure_msg) { %>
            <p class="text-red-800"><%= messages.failure_msg %></p>
            <% } %>
            <!--Express Flash Messages-->
            <% if (messages.success_msg) { %>
            <p class="text-indigo-800"><%= messages.success_msg %></p>
            <% } %>

            <form class="flex flex-col" action="/dashboard/change-password" method="post">
                <label class="block my-4" for="old_password">Old Password</label>
                <input
                    class="bg-slate-50 w-full appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-800"
                    required
                    type="password"
                    name="old_password"
                />
                <label class="block my-4" for="new_password">New Password</label>
                <input
                    class="bg-slate-50 w-full appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-800"
                    required
                    type="password"
                    name="new_password"
                />
                <label class="block my-4" for="confirm_new_password">Confirm New Password</label>
                <input
                    class="bg-slate-50 w-full appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-800"
                    required
                    type="password"
                    name="confirm_new_password"
                />

                <div class="action-buttons flex justify-between items-center">
                    <input
                        class="p-3 mt-6 border-indigo-500 cursor-pointer text-white bg-indigo-800 hover:bg-indigo-950 rounded-md self-end"
                        type="submit"
                        value="Change Password"
                    />
                    <a
                        class="p-3 mt-4 border-indigo-500 cursor-pointer text-white bg-red-800 hover:bg-indigo-950 rounded-md self-end"
                        href="/dashboard/settings"
                        >Go Back</a
                    >
                </div>
            </form>
        </div>
    </body>
</html>
