<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Article</title>
    </head>
    <body>
        <% if(messages.success) { %>
        <p><%= messages.success %></p>
        <p><%}%> <% rows.forEach(row => { %></p>

        <form
            action="/dashboard/article/edit-article/<%=row.article_id%>?_method=PUT"
            method="post"
        >
            <input type="hidden" name="_method" value="PUT" />
            <label for="title">Article Title:</label>
            <input required type="text" name="title" value="<%=row.title%>" />
            <label for="subtitle">Article Subtitle:</label>
            <input required type="text" name="subtitle" value="<%=row.subtitle%>" />
            <label for="contents">Article Body:</label>
            <textarea required name="contents" cols="30" rows="10">
<%=row.contents%></textarea
            >
            <input type="submit" value="Save Edits" />
        </form>
        <a href="/dashboard">Discard Changes</a>

        <%})%>
    </body>
</html>
